@font-face {
    font-family: DS;
    src:url('data:application/x-font-ttf;base64,AAEAAAAOAIAAAwBgT1MvMoJrbbMAAAFoAAAATlBDTFS+AECBAAAPdAAAADZjbWFwAAwAbAAAAdgA
AAAsY3Z0IBHbC7kAAAMYAAAATGZwZ22n2V6TAAACBAAAAGRnbHlmd3bj+QAAA5QAAAgwaGVhZNBH
ydYAAADsAAAANmhoZWEHTwFiAAABJAAAACRobXR4CIcBuAAAAbgAAAAebG9jYQAALVgAAANkAAAA
MG1heHAAkQFeAAABSAAAACBuYW1lA/3WCQAAC8QAAAN1cG9zdAAIAL4AAA88AAAAOHByZXD+7tZR
AAACaAAAAK0AAQAAAAEAAFxqChdfDzz1AAAETAAAAAA2tcLgAAAAADa1wuAAAP9FA8gDhAAAAAsA
AgABAAAAAAABAAADhP84AAACJgAA//8DyAABAAAAAAAAAAAAAAAAAAAABAABAAAACwBSAA4AAAAA
AAIACABAAAoAAABkAMkAAQABAAAB3AGQAAUAAgK8AooAAACPArwCigAAAcUAMgEDAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAEFsdHMAQAAgIDADIADIAAADhAC7AAACJgAiAhsAPAEfAGoCGwA8
AEoAPAA8ADwASgA8ADwAAAAAAAEAAwABAAAADAAEACAAAAAEAAQAAQAAADn//wAAADD////RAAEA
AAAAQAUFBAMCACx2RSCwAyVFI2FoGCNoYEQtLEUgsAMlRSNhaCNoYEQtLCAguP/AOBKxQAE2OC0s
ICCwQDgSsAE2uP/AOC0sAbBGdiBHaBgjRmFoIFggsAMlIziwAiUSsAE2ZThZLUAOGxsaGgsLAQEA
AA8PRQGNuAH/hXZFaEQYswILRgArswMARgArswQBRgArswULRgArswYARgArswcBRgArswgPRgAr
swkBRgArswoARgArswwBRgArsw0LRgArsw4BRgArsxAPRgArsxEPRgArsxILRgArsxMLRgArsxQB
RgArsxUBRgArsxYPRgArsxcBRgArsxgBRgArsxkLRgArRWhERWhERWhERWhERWhEAAAAArsBgwBL
AkYCBgAAA1EBzv+QAZ0CMAAAAhUADgE5/4z/Rf+nALYAcQHVAVD/awEEAO4AjABLAEsAngCDAKwA
ggAcAEsAYQAOADMASgAAAAAAAABkAAABTAAAAbQAAAKCAAADSAAAA/oAAATKAAAFtgAABjoAAAdG
AAAIMAACACIAAAIEA4QAAwAHAD1AGwcEGwAGBRsBBQQaAwIHBhoBAAIBBgMACwEARnYvNxgAPzw/
PAEvPP08Lzz9PAAQ/TwQ/TwxMLIIAAUrMxEhEScRIREiAeIi/mIDhPx8IgNA/MAABgA8AAAB3wK8
AAQACAANABIAFgAbAHlAPRQTCAUYAQACCgkLCgEaERUOGxwAGQ4HBhsFFhUbExsXDQMJGhkYDAML
EA8DAwIaEg4EAwAIBQAUEwsBC0Z2LzcYAD88PzwBLxc8/Rc8Lxc8/Rc8ABD9PBD9PD/WEP0/PNY8
ARESORESOQAuAS4uLi4xMLIcCwUrAQcnNTcnByMnEwcnERcBJzU3FwMhNzMlBxE3FwHfGy9KDkrz
Sj0vHEsBWEovGw7+eUrz/wBLHC8BiBwvyEsOS0v+3y8cASZL/atLyC8d/s1LDksBJR0vAAIAagAO
ALUCrgAEAAkAOkAZBAACBAkGBQMDAhoIBwEDAAcAXQENeAECRnYvNxgAdj92PxgBLxc8/Rc8AC/W
ARESOTEwsgoCBSsTESc1Nyc1NxEHtUsvL0scATP+20vIL0vIS/7aHAAABQA8AAAB3wK8AAMABwAM
ABEAFwBuQDMWBQQDAAwTEhQRDw0MCAoKGxgCARsABwYbBBUUGxcSAQkIGgsKDg0aEA8DAAAFBAsB
CkZ2LzcYAD88PzwBLzz9PC88/TwAPzz9PBD9PBD9PBD9ARESORESOQAREjkALgEuLi4uLjEwshgK
BSsBByMnASE3MyUVBxE3JTU3EQcnFwchJzcB0UrzSgGH/nlK8/8ASxwBPUobNCYm/vslJQK8S0v9
REvWyEsBJR1LyEv+2hwXJSUlJQAFAEoAAAHfArwAAwAHAAwAEQAXAGhAMhYFBAMAExIUDAgKDBEJ
GxgCARsABwYbBBUUGxcSAQ4NCwMKGhAPCQMIAwAABQQLAQNGdi83GAA/PD88AS8XPP0XPAA/PP08
EP08EP08EP0v1gEREjkAERI5AS4uLi4uMTCyGAMFKwEHIycBITczNxEnNTcnNTcRBycXByEnNwHR
SvNKAYf+eUrzWEovL0obNCYm/vslJQK8S0v9REvo/ttLyC9LyEv+2hwXJSUlJQAEADwADgHfAq4A
BAAJAA4AFABfQCwTEA8RCQUHBAIACQ4EEhEbFA8BAwIaAQALCggDBxoNDAYDBQEAXQYNeAEARnYv
NxgAdj92PxgBLxc8/Rc8Lzz9PAA/PP08LzzWARESORESOQAREjkBLjEwshUABSsTERcVBwURJzU3
JzU3EQcnFwchJzc8Sy8Bh0ovL0obNCYm/vslJQGIASZLyC85/ttLyC9LyEv+2hwXJSUlJQAABQA8
AAAB3wK8AAMABwAMABEAFwBuQDMWBQQDABETEhQRDQ8MCggOGxgCARsABwYbBBUUGxcSAQsKGgkI
EA8aDg0DAAAFBAsBCEZ2LzcYAD88PzwBLzz9PC88/TwAPzz9PBD9PBD9PBD9ARESORESOQAREjkA
LgEuLi4uLjEwshgIBSsBByMnASE3MwERFxUHBREnNTcnFwchJzcB0UrzSgGH/nlK8/61Sy8Bh0ov
NCYm/vslJQK8S0v9REsBPQEmS8gvOf7bS8gvMyUlJSUAAAYAPAAAAd8CvAADAAcADAARABYAHAB8
QDwbBQQDABMYFxkWEhQMCAoWDBEKGx0CARsABwYbBBoZGxwXARAPCQMIGg4NCwMKFRQaExIDAAAF
BAsBCkZ2LzcYAD88PzwBLzz9PC8XPP0XPAA/PP08EP08EP08EP0v1jwBERI5ERI5ABESOQAuAS4u
Li4uMTCyHQoFKwEHIycBITczJRUHETcnERcVBwURJzU3JxcHISc3AdFK80oBh/55SvP/AEscHEsv
AYdKLzQmJv77JSUCvEtL/URL1shLASUdOAEmS8gvOf7bS8gvMyUlJSUAAwBKAA4B3wK8AAMACAAN
AEdAIAMACAQGDQgVAgEbAAoJBwMGGgwLBQMEAwAABQ14AQNGdi83GAB2Pxg/PAEvFzz9FzwAEP08
P9YBERI5AS4uMTCyDgMFKwEHIycBESc1Nyc1NxEHAdFK80oBlUovL0obArxLS/53/ttLyC9LyEv+
2hwABwA8AAAB3wK8AAMABwAMABEAFgAbACEAi0BGIAUEAwATHRweFhIUDAgKFgwbEQobIhoLDgIB
GwAHBhsEHx4bIRwBEA8JAwgaDg0LAwoYFxUDFBoaGRMDEgMAAAUECwEKRnYvNxgAPzw/PAEvFzz9
FzwvFzz9FzwAPzz9PBD9PBD9PD/WEP0vPNY8ARESORESOQAREjkALgEuLi4uLjEwsiIKBSsBByMn
ASE3MyUVBxE3JxEXFQcFESc1Nyc1NxEHJxcHISc3AdFK80oBh/55SvP/AEscHEsvAYdKLy9KGzQm
Jv77JSUCvEtL/URL1shLASUdOAEmS8gvOf7bS8gvS8hL/tocFyUlJSUAAAYAPAAAAd8CvAADAAcA
DAARABYAHAB5QDsbBQQDABgXGRENDwwKCBEWDA4bHQIBGwAHBhsEGhkbHBcBCwoaCQgTEhADDxoV
FA4DDQMAAAUECwEIRnYvNxgAPzw/PAEvFzz9FzwvPP08AD88/TwQ/TwQ/TwQ/S881gEREjkREjkA
ERI5AS4uLi4uMTCyHQgFKwEHIycBITczAREXFQcFESc1Nyc1NxEHJxcHISc3AdFK80oBh/55SvP+
tUsvAYdKLy9KGzQmJv77JSUCvEtL/URLAT0BJkvILzn+20vIL0vIS/7aHBclJSUlAAAAFQECAAAA
AAAAAAAAsgBZAAAAAAAAAAEAFAEVAAAAAAAAAAIADAEvAAAAAAAAAAMAUAFjAAAAAAAAAAQAFAG9
AAAAAAAAAAUAWAH9AAAAAAAAAAYAFAJfAAEAAAAAAAAAWQAAAAEAAAAAAAEACgELAAEAAAAAAAIA
BgEpAAEAAAAAAAMAKAE7AAEAAAAAAAQACgGzAAEAAAAAAAUALAHRAAEAAAAAAAYACgJVAAMAAQQJ
AAAAsgBZAAMAAQQJAAEAFAEVAAMAAQQJAAIADAEvAAMAAQQJAAMAUAFjAAMAAQQJAAQAFAG9AAMA
AQQJAAUAWAH9AAMAAQQJAAYAFAJfRm9udCBUeXBlZmFjZTogRFMtRGlnaXRhbC4gQ3JlYXRlZCBi
eSBEdXNpdCBTdXBhc2F3YXQgLCBEUy1Gb250IDE5OTguIEFsbCBSaWdodHMgUmVzZXJ2ZWQARgBv
AG4AdAAgAFQAeQBwAGUAZgBhAGMAZQA6ACAARABTAC0ARABpAGcAaQB0AGEAbAAuACAAQwByAGUA
YQB0AGUAZAAgAGIAeQAgAEQAdQBzAGkAdAAgAFMAdQBwAGEAcwBhAHcAYQB0ACAALAAgAEQAUwAt
AEYAbwBuAHQAIAAxADkAOQA4AC4AIABBAGwAbAAgAFIAaQBnAGgAdABzACAAUgBlAHMAZQByAHYA
ZQBkRFMtRGlnaXRhbABEAFMALQBEAGkAZwBpAHQAYQBsTm9ybWFsAE4AbwByAG0AYQBsRHVzaXQg
U3VwYXNhd2F0OiBEUy1EaWdpdGFsOiBWZXJzaW9uIDEuMQBEAHUAcwBpAHQAIABTAHUAcABhAHMA
YQB3AGEAdAA6ACAARABTAC0ARABpAGcAaQB0AGEAbAA6ACAAVgBlAHIAcwBpAG8AbgAgADEALgAx
RFMtRGlnaXRhbABEAFMALQBEAGkAZwBpAHQAYQBsRFMgY29yZSBmb250OiBWMS4wMCBTdW4gSmFu
IDAzIDA4OjE5OjI5IDE5OTkARABTACAAYwBvAHIAZQAgAGYAbwBuAHQAOgAgAFYAMQAuADAAMAAg
AFMAdQBuACAASgBhAG4AIAAwADMAIAAwADgAOgAxADkAOgAyADkAIAAxADkAOQA5RFMtRGlnaXRh
bABEAFMALQBEAGkAZwBpAHQAYQBsAAAAAAIAAAAAAAD/iABGAAAAAAAAAAAAAAAAAAAAAAAAAAAA
CwAAABMAFAAVABYAFwAYABkAGgAbABwAAQAAAAAAAAEEArwAAG8cArwCdURTLURpZ2l0YWwAKvWV
CAL/////P////0RTLVIwMAAAAQAAAA==');
}

@font-face {
    font-family: JLX;
    src:url('data:application/x-font-ttf;base64,AAEAAAAOAIAAAwBgT1MvMo5Rh+MAAAFoAAAAVmNtYXBeBbQ2AAABzAAAADxjdnQgDFcBQgAAAsAA
AAAaZnBnbfM3AUoAAAIIAAAALmdhc3AADQAJAAAFXAAAABBnbHlmuKXzhAAAAvAAAAFEaGVhZNn5
LHoAAADsAAAANmhoZWEOaAZpAAABJAAAACRobXR4CPEAaQAAAcAAAAAKbG9jYQAAArYAAALcAAAA
FG1heHACHQEeAAABSAAAACBuYW1lNQmDZQAABDQAAAEGcG9zdP7QAGcAAAU8AAAAIHByZXDJs/lJ
AAACOAAAAIgAAQAAAAEAABwbyVNfDzz1AAMIAAAAAAC5cPFYAAAAALlw8VkAAP5dCAAGZgAAABAA
AgABAAAAAAABAAAGZv5nAAAIAAAAAAAIAAABAAAAAAAAAAAAAAAAAAAAAQABAAAABAC/ABEAAAAA
AAIABAAAAAMAAAIAAF0AAAAAAAEEAAGQAAUAAAQABAAAAAAABAAEAAAABAAAZgIAAAACAQYJAAEB
AQEBAAAAAQgOCAAAAAACAAAAAGdqaiAAQAAA/+UGZv5nAZkGZgGZAAQAAAAAAAAAAAgAAAAAaABp
AIkAAAAAAAEAAwABAAAADAAEADAAAAAIAAgAAgAAUUld8mKi//8AAFFJXfJiov//rriiEZ1gAAEA
AAAAAAAAALAALEVpRC2wASxFsIBiaCCwAFRYIbBAWUQtsAIsRbgBAGJoILAAVFghsEBZRC0AALGA
ABVLUli4Af8buAAAWYW6AIgAAQAgGo0dS7CUUli4AkgdWUAaDAwLCwoKCQkICAcHBgYFBQQEAwMC
AgEBDAAqsRoMS1JYIUAaDAwLCwoKCQkICAcHBgYFBQQEAwMCAgEBDAIqG0tSWEAaDAwLCwoKCQkI
CAcHBgYFBQQEAwMCAgEBDAEqWVkK0gAAAAAAAAAAAAAAAAAuAD8AcQCSAKMAtAAAAAAAAAAAAAAA
AABwAAABAgAAAUQAAwBo/tAHswX4ABEAFQAZAAABESEHIREhASEBISchESERIQcJASEBIQEhAQY6
AXlr/aP+wP5Z/mcBvv5AAQL1AU4C4XD6qAEJ/q7+9wcT/un+pwEXAer90ekDGfzkAxzrAyH83+wD
2/2BAn/9ewKFAAMAaf7IB7cGBAAUACEAKAAAATMHEQUHNTMRIQERITUhNSEVMwcjBREFITUhESER
JQchEScBIQEhCwEC13l5/sPm4P7VASv+7AEUAUOfYzwEk/77/r8BF/6uArFs/ItkAU0B0QFE/qjQ
4gN82P0Y8wHjARkCGwFO7unp7pz+AuXaAS788AHYBMJYAhX97gFb/qIAAQCJ/uQHhgXpAA4AAAED
AQURIQchEyEVJREhNQduAf7J+8QFjGz5hQEBWQQY+ngF6f0u/v0C/brpBQ/3AQIE6QAAAAAIAGYA
AwABCAQAAABsAAAAAwABCAQAAQAKAHoAAwABCAQAAgAOAGwAAwABCAQAAwAKAHoAAwABCAQABAAK
AHoAAwABCAQABQAIAIQAAwABCAQABgAOAIwAAwABCAQABwAGAJoASABUAFQAUAA6AC8ALwB3AHcA
dwAuAGcAagBqAGMALgBjAG8AbQAgACAARQBNAEEASQBMADoAdwB3AHcAQABnAGoAagBjAC4AYwBv
AG0AIAAgAE8ASQBDAFEAOgAyADQANAA5ADMAMgA4ADgAcgBlAGcAdQBsAGEAco/3T2B7gIPxX8MA
MwAuADAAMABKAEwAaQBuAFgAaQBuXn9jd1xFAAAAAwAAAAAAAP7NAGYAAAABAAAAAAAAAAAAAAAA
AAAAAAAAAAMABgACAAgAAf//AAM=');
 }